*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgrey;
    padding: 10px;
    /* margin-bottom: 30px; */
}

main{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

h1{
    margin: 30px auto;
}

img{
    width: 300px;
    height: 400px;

}

p{
    margin: 30px auto;
}

button{
    margin: 30px auto 50px;
    padding: 10px;
}

/* footer */
footer{
    border-top: 3px solid lightgray;
    text-align: center;
    padding: 30px;
}
ul li{
    list-style-type: none;
    padding: 10px;
    border-right: 3px solid lightgrey;
}

ul li:last-child{
    border: none;
}

ul{
    display: flex;
    justify-content: center;
    margin: 30px;
}

@media (min-width: 767px){
    .galery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
        row-gap: 20px;
    }

    img{
        justify-self: center;
    }
}

@media (min-width: 1024px){
    img{
        width: 400px;
        height: 550px;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }
        
    }