*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgrey;
    padding: 10px;
}

main{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
}

.wmk a{
    /* margin: auto 30px; */
}

.title{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
}

.cards{
    display: flex;
    justify-content: space-around;
}

img{
    /* height: 70%; */
    width: 250px;
    height: 300px;
}

.card{
    display: none;
}

.card:first-child{
    display: block;
}

footer{
    border-top: 3px solid lightgray;
    text-align: center;
    padding: 30px;
}

ul li{
    list-style-type: none;
    padding: 10px;
    border-right: 3px solid lightgrey;
}

ul li:last-child{
    border: none;
}

ul{
    display: flex;
    justify-content: center;
    margin: 30px;
}

@media (min-width: 767px){
    .card:nth-child(2){
        display: block;
    }
}

@media (min-width: 1024px){
    header{
        padding: 30px;
    }

    .cards{
        margin: 30px auto;
    }
    .card{
        display: block;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    section a{
        transition: 0.2s ease;
    }
    
    section a:hover{
        transform: scale(1.1);
    }

    header a:hover,
    footer a:hover{
        text-decoration: underline;
    }

    img{
        border-radius: 10px;
    }
    .kids .card{
        border-radius: 25px;
        text-align: center;
        color: green;
    }

    .women .card:hover{
        box-shadow: 10px 10px 22px rgba(255, 153, 255, 0.5);
    }

    .men .card:hover{
        box-shadow: 10px 10px 22px rgba(51, 153, 255, 0.5);
    }

    .kids .card:hover{
        box-shadow: 10px 10px 22px rgba(51, 240, 51, 0.5);
    }


}