*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgrey;
    padding: 10px;
}

main{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
}

h1{
    text-align: center;
}

.title{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
}

img{
    width: 250px;
    height: 300px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer naredna 4 */
footer{
    border-top: 3px solid lightgray;
    text-align: center;
    padding: 30px;
}

ul li{
    list-style-type: none;
    padding: 10px;
    border-right: 3px solid lightgrey;
}

ul li:last-child{
    border: none;
}

ul{
    display: flex;
    justify-content: center;
    margin: 30px;
}

@media (min-width: 767px){
    .cards{
        display: grid;
        grid-template-columns: auto auto;
        padding: 30px;
        row-gap: 30px;
        justify-content: space-evenly;
        align-content: space-between;
    }
    .card{
        text-align: center;
    }
}

@media (min-width: 1024px){
    header{
        padding: 30px;
    }
    .cards{
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;

    }

    .cards{
        margin: 30px auto;
    }
    .card{
        display: block;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .title a:hover{
        font-size: 1.3em;
    }
    header a:hover,
    footer a:hover{
        text-decoration: underline;
    }

    img{
        border-radius: 10px;
    }
    .card:hover{
        box-shadow: 10px 10px 22px rgba(255, 153, 255, 0.5);
    }
}